<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawSitive"
        tools:targetApi="31">
        <activity
            android:name=".acitvities.EditProfilePage"
            android:exported="false" />
        <activity
            android:name=".acitvities.CalendarEdit"
            android:exported="false" />
        <activity
            android:name=".acitvities.ReviewListActivity"
            android:exported="false" />
        <activity
            android:name=".acitvities.ProfilePageEdit"
            android:exported="false" />
        <activity
            android:name=".acitvities.FavouritesPage"
            android:exported="false" />
        <activity
            android:name=".acitvities.ReviewMain"
            android:exported="false" />
        <activity
            android:name=".acitvities.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".acitvities.HomePage"
            android:exported="false" />
        <activity
            android:name=".acitvities.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".acitvities.AddEditPet"
            android:exported="false" />
        <activity
            android:name=".acitvities.ProfilePage1"
            android:exported="false"
            android:label="@string/title_activity_profile_page" />
        <activity
            android:name=".acitvities.CreditCardInfo"
            android:exported="false" />
        <activity
            android:name=".acitvities.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".acitvities.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".acitvities.Login"
            android:exported="false" />
        <activity
            android:name=".acitvities.CreateNewAccount"
            android:exported="false"
            android:label="@string/title_activity_create_new_account"
            android:theme="@style/Theme.PawSitive" />
        <activity
            android:name=".acitvities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>